body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* -------------------------------------------------------------------------------- */

#root {
  min-height: 100vh;
}

/* -------------------------------------------------------------------------------- */

.form-example {
  width: 100%;
  margin-bottom: 8px;
}

.form-example > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.form-example label {
  min-width: 80px;
  text-align: left;
  margin-right: 8px;
}

.form-example__button {
  display: block;
  width: 200px;
  margin: 0 auto 8px;
}

.form-example__values {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.form-example__values span {
  margin-bottom: 8px;
}

/* -------------------------------------------------------------------------------- */

.table-heavy {
  margin: 16px auto 0;
}

/* -------------------------------------------------------------------------------- */

.calculator input {
  width: 40px;
}

.calculator p > span {
  display: inline-block;
  min-width: 32px;
  text-align: center;
  font-weight: bold;
  margin: 0 4px;
}

/* -------------------------------------------------------------------------------- */

.ref-example button {
  margin-left: 8px;
}

.ref-example input:focus {
  box-shadow: inset 0 0 8px 0 #f44336;
}

/* -------------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------------- */