/* -------------------------------------------------------------------------------------- */
/* ----- common styles ------------------------------------------------------------------ */
/* -------------------------------------------------------------------------------------- */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  min-height: 100vh;
  background-color: rgba(42,91,132,0.15);
  padding: 20px;
}

/* -------------------------------------------------------------------------------------- */
/* ----- card styles -------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */
.card {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.25);
}

/* -------------------------------------------------------------------------------------- */
/* ----- costs list styles -------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */
.costs {
  width: 70rem;
  max-width: 100%;
  padding: 1rem;
  background-color: #aac4d1;
  margin: 2rem auto;
}

.costs__no-results {
  color: #ececec;
  font-weight: 600;
  text-align: center;
  text-shadow: 0 1px 1px #404040;
  padding: 1rem 0.5rem;
  margin: 1rem 0;
  background-color: rgba(0,150,136,0.25);
}

/* -------------------------------------------------------------------------------------- */
/* ----- one cost item styles ----------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */
.cost-item {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0.5rem;
  margin: 1rem 0;
  background-color: rgba(0,150,136,0.5);
}

.cost-item__details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.cost-item__description {
  color: #ececec;
  font-weight: 600;
  text-shadow: 0 1px 1px #404040;
}

.cost-item__date {
  display: flex;
  flex-direction: column;
  width: 5.5rem;
  height: 5.5rem;
  border: 1px solid #ececec;
  background-color: #2a5b84;
  color: #fefae1;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
}

.cost-item__date-month {
  font-size: 0.75rem;
  font-weight: bold;
}

.cost-item__date-year {
  font-size: 0.75rem;
}

.cost-item__date-day {
  font-size: 1.5rem;
  font-weight: bold;
}

.cost-item__price {
  font-size: 1rem;
  font-weight: bold;
  color: #fefae1;
  background-color: #2a5b84;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 8px;
}

/* -------------------------------------------------------------------------------------- */
/* ----- new cost styles ---------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */
.new-cost {
  width: 70rem;
  max-width: 100%;
  background-color: #aac4d1;
  text-align: center;
  padding: 1rem;
  margin: 2rem auto;
  border-radius: 10px;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.25);
}

.new-cost button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #2a5b84;
  background-color: #2a5b84;
  color: #fefae1;
  border-radius: 10px;
  margin-right: 3px;
}

.new-cost button:hover,
.new-cost button:active {
  background-color: #2a5c84b2;
  border-color: #2a5c84b2;
}

/* -------------------------------------------------------------------------------------- */
/* ----- cost form styles --------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */
.new-cost__controls {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.new-cost__control label {
  color: #fefae1;
  text-shadow: 0 1px 1px #404040;
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.new-cost__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.new-cost__actions {
  text-align: left;
}

/* -------------------------------------------------------------------------------------- */
/* ----- costs filter (select) styles --------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */
.costs-filter {
  color: white;
  text-shadow: 0 1px 1px #404040;
}

.costs-filter__control {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

.costs-filter label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.costs-filter select {
  font: inherit;
  padding: 0.5rem 3rem;
  font-weight: bold;
  border-radius: 6px;
}

/* -------------------------------------------------------------------------------------- */
/* ----- diagram styles ----------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */
.diagram {
  padding: 1rem;
  border-radius: 12px;
  background-color: #ebc137;
  text-align: center;
  display: flex;
  justify-content: space-around;
  height: 10rem;
}

.diagram-bar {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.diagram-bar__inner {
  flex-shrink: 0;
  height: 100%;
  width: 1rem;
  border: 1px solid #313131;
  border-radius: 12px;
  background-color: #fefae1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.diagram-bar__fill {
  background-color: #bd8025;
  width: 100%;
  transition: all 0.3s ease-out;
}

.diagram-bar__label {
  font-weight: bold;
  font-size: 0.5rem;
  text-align: center;
}



/* -------------------------------------------------------------------------------------- */
/* ----- adaptive styles ---------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */
@media (min-width: 580px) {

}

/* -------------------------------------------------------------------------------------- */
/* ----- end all styles ----------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */