.contacts-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 32px;
}

.contacts-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,150,136,0.1);
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 24px;
}

.contacts-tile.contacts-selected {
  border-color: rgba(0,150,136,0.6);
}

.contacts-tile-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #0005;
  box-shadow: 3px 3px 0px 0px #0002;
  margin-bottom: 16px;
}