body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-wrapper {
  padding: 0 15px;
}

.page-main {
  min-height: calc(100vh - 70px - 64px);
  padding: 1rem 0;
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  gap: 1rem;
}

.items .card .card-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.items .card .card-content {
  min-height: 132px;
}

.items .card .card-price {
  color: #00695c;
  font-size: 18px;
  font-weight: 600;
}

.page-footer .footer-copyright {
  background-color: transparent;
  padding-bottom: 30px;
}

.cart {
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4db6ac;
  margin: 1rem 0 1.5rem auto;
  border-radius: 2px;
  position: fixed;
  top: 71px;
  right: 12px;
  cursor: pointer;
  z-index: 1;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
  transition: box-shadow 0.2s ease-out;
}

@media (max-width: 600px) {
  .cart {
    top: auto;
    bottom: 12px;
  }
}

.cart:hover {
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 28%), 0 3px 1px -2px rgb(0 0 0 / 24%), 0 1px 5px 0 rgb(0 0 0 / 40%);
}

.cart .material-icons {
  color: white;
  font-size: 30px;
  margin-right: 0.25rem;
}

.cart-modal {
  width: 50rem;
  max-width: 95vw;
  background-color: white;
  border-radius: 4px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 6px 6px 0 rgb(0 0 0 / 40%), 0 4px 24px 12px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 20%);
  animation: showCart 250ms ease-in-out;
}

.cart-modal .collection-item.active {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: .05em;
  text-shadow: 0 1px 2px rgb(0 0 0 / 40%);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.cart-modal__total-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-modal__item-info {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}

.cart-modal__item-quantity {
  width: 24px;
  height: 24px;
  color: rgb(38 166 154 / 60%);
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  border: 2px solid rgb(38 166 154 / 60%);
  border-radius: 2px;
  margin: 0 8px;
  cursor: pointer;
  transition: color .2s ease-out, border-color .2s ease-out;
}

.cart-modal__item-quantity:hover {
  color: rgb(38 166 154 / 100%);
  border-color: rgb(38 166 154 / 100%);
}

.cart-modal__item-delete {
  cursor: pointer;
  transition: text-shadow .2s ease-out;
}

.cart-modal__item-delete:hover {
  text-shadow: 0 1px 2px rgb(0 0 0 / 40%);
}

.cart-modal__close {
  color: white;
  font-size: 38px;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  transition: text-shadow .2s ease-out;
}

.cart-modal__close:hover {
  text-shadow: 0 2px 4px rgb(0 0 0 / 80%);
}

.cart .cart-quantity {
  color: white;
  font-size: 16px;
  font-weight: 600;
}

.cart-modal .cart-modal__checkout {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

@media only screen and (min-width: 993px) {
  #toast-container {
    top: 140px;
    right: 12px;
    animation: showToast 250ms ease-in-out;
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  #toast-container {
    left: auto;
    top: 140px;
    right: 12px;
    animation: showToast 250ms ease-in-out;
  }
}

@media only screen and (max-width: 600px) {
  #toast-container {
    bottom: 150px;
  }
}

@keyframes showCart {
  from {
    top: 75%;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}

@keyframes showToast {
  from {
    right: 64%;
    opacity: 0;
  }
  to {
    right: 12px;
    opacity: 1;
  }
}
